
<!--<h2>login component</h2>
<form [formGroup]="loginfrm" (ngSubmit)="CheckUser()">
    username: <input type="text" id="" name="uname" formControlName="uname">
    password: <input type="password" id="" name="pwd" formControlName="pwd">

    <div>
        <button type="submit">login</button>
    </div>
</form>

-->



    <div clss="col-md-12">
        
           <div class="col-md-4"></div>
            <div class="col-md-4">
<form [formGroup]="loginfrm" (ngSubmit)="CheckUser()">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="uname" formControlName="uname" aria-describedby="emailHelp" placeholder="Enter email">
     
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control"  name="pwd" formControlName="pwd" id="exampleInputPassword1" placeholder="Password">
    </div>
    
    <button type="submit" class="btn btn-primary">Login</button>
  </form>

  </div>
  <div class="col-md-4"></div>

</div>
