

<nav class="navbar navbar-expand-lg  navbar-light">
  
  <a class="navbar-brand">
    <div class="container"><span class="color1">Booking</span><span class="color2">.com</span></div>
  </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link" routerLink="stays"><i class="fa fa-home fa-lg" aria-hidden="true"></i> Stays </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="flights"><i class="fa fa-plane fa-lg" aria-hidden="true"></i> Flights</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="flighthotel"> <i class="fa fa-bed fa-lg" aria-hidden="true"></i> Flight + Hotel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="car-rental"><i class="fa fa-car fa-lg" aria-hidden="true"></i> CarRental</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Attractions"><i class="fa fa-universal-access fa-lg" aria-hidden="true"></i> Attractions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="airport-taxis"><i class="fa fa-taxi fa-lg" aria-hidden="true"></i> Airport taxis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>
    
  </div>
</nav>



<router-outlet></router-outlet>

